{% extends "main/base.html" %}

{% block content %}
  <div class="container">
    <h1>Contacts CRM page</h1>
    <p>This section can be seen only by Admins. </p>

    <p><a href={% url 'crm:contact_create' %}>Add a contact</a></p>
    {% for contact in contact_list.all %}
      <p>
        <a href={% url 'crm:contact_update' contact.pk %}><i class="far fa-edit"></i> </a>
        <a href={% url 'crm:contact_delete' contact.pk %}><i class="far fa-trash-alt"></i> </a>
        <a href={% url 'crm:contact_detail' contact.pk %}>{{ contact }}</a>
      </p>
      <ul>
        <li>Comment: {{ contact.description|safe|truncatewords:5 }}</li>
        <li>Mail: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
        <li>Phone: {{ contact.phone }}</li>
        <li>Link <a href="{{ contact.link }}">{{ contact.link }}</a></li>
        {% if contact.strategic_comment %}
          <li class="font-weight-bold">Strategic: {{ contact.strategic_comment }}</li>
        {% endif %}
        {% if contact.next_step or contact.tizkoret %}
          <li>
            Next Step: {{ contact.next_step|safe|truncatewords:10}}...
            ({{ contact.tizkoret }})
          </li>
        {% endif %}
      </ul>
    {% endfor %}

  </div>

{% endblock %}
