{% extends 'main/base.html' %}

{% block content %}

<div class="text-center bg-warning {% if not registration.need_to_message_about_completion %}d-none{% endif %}">
  <h1>ברכות! סיימתם קורס זה </h1>
  <br>
  <a href="#" class="btn btn-success">דרג קורס זה</a>
<p><em>TBD - implement rating here. only after the user will rate this message will go away. </em></p>
</div>


<div class="{% if completion.lesson.course.hebrew %}hebrew text-right{% endif %}">

<div class="row px-4">
  <div class="col-3">
    {% if completion.lesson.course.hebrew %}
    <h2 class="text-center">רשימת השיעורים </h2>
    <!-- <small>צפו בסרטון. לאחר שתשלימו את הצפייה ואת המטלות (אם יש) שמתחתיו, אשרו שהשלמתם את השיעור ועיברו לשיעור הבא.</small> -->

    {% else %}
    <h2 class='text-center'>You are in a lesson</h2>
    <small>Please watch the video and complete any task bellow. After you are done, you may approve and continue to the next lesson. </small>
    {% endif %}
    <hr>

    <div class="row justify-content-center">
      <div class="col-10">
        {% if completion.lesson.course.hebrew %}
        <!-- <p>סיימתם את השיעור הזה?</p> -->
        <!-- <a href={% url 'learn:completion_done' completion.id %} class="btn btn-info d-block">יאללה, לשיעור הבא</a><br> -->

        {% else %}
        <a href={% url 'learn:completion_done' completion.id %} class="btn btn-info d-block">Lets go to the next one.</a><br>
        <a href={% url 'learn:course_detail' completion.lesson.course.id %}>Back to main course page</a>
        {% endif %}
      </div>
    </div>

<div class="container">

</div>

<div class="container">
      <!-- Go over lesson status and links  -->
      <div class="row lesson-item">
        <div class="col-1"><i class="fas fa-lock-open"></i></div>
        <div class="col-1"><i class="far fa-check-circle"></i></div>
        <div class="col-8">
          <a class="text-white" href={% url 'learn:course_detail' completion.lesson.course.id %}>
            לדף הפתיחה של הקורס
          </a>
        </div>
        <div class="col-1"></div>

      </div>
      {% for other_completion in user_course_completion_set %}
        <!-- Lock  -->
        <div class="row lesson-item">
          <div class="col-1">
            {% if other_completion.pre_completion.completed or not other_completion.pre_completion %}
            <i class="fas fa-lock-open"></i>
            {% else %}
            <i class="fas fa-lock text-info"></i>
            {% endif %}
          </div>
          <!-- Check simbol -->
          <div class="col-1">
            {% if other_completion.completed %}
              <i class="far fa-check-circle"></i>
            {% endif %}
          </div>
          <!-- Title -->
          <div class="col-8 text-truncate">
            {% if other_completion.pre_completion.completed or not other_completion.pre_completion %}
              <a class="text-white" href={% url 'learn:completion_detail' other_completion.id %}>{{ other_completion.lesson.title }}</a>
            {% else %}
              <span class="text-muted">{{ other_completion.lesson.title }}</span>
            {% endif %}
          </div>
          <!-- bookmark -->
          <div class="col-1">
            {% if other_completion == completion %}
            <i class="far fa-bookmark"></i>
            {% endif %}
          </div>

        </div>
      {% endfor %}
</div>

      <br>


  </div>
<!--  start of middle frame -->
  <div class="col border border-primary">
    <div class="{% if course.hebrew %}hebrew text-right{% endif %}">
      <h3>אתם נמצאים בשיעור:</h3>
      <h1>{{ completion.lesson.course.title}} - {{ completion.lesson.title }}</h1>
      <h3>כשתסיימו תלחצו על כפתור
        <a class="btn btn-info" href={% url 'learn:completion_done' completion.id %}>סיימתי - לשיעור הבא...</a>
      </h3>
      <p>{{ completion.lesson.description }}</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        {% if completion.lesson.youtube %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ completion.lesson.youtube }}?rel=0" allowfullscreen></iframe>
          </div>
        {% else %}
          <h3>No Youtube.... </h3>
        {% endif %}
      </div>
    </div>

    <div class="text-center">
      <br><br>
        <h3>עוד לא מימשנו משימות ומטלות. אז פשוט סמנו אם סיימתם:</h3>
        <div class="mb-4">
          <a href={% url 'learn:completion_done' completion.id %} class="btn btn-info">סיימתי את השיעור הזה, יאללה, לשיעור הבא</a>
        </div>
      </div>



  </div>
  <div class="col-3">

    <div class="border border-top border-info mb-3">
      <ul>
        <li><a href={% url 'learn:course_detail' completion.lesson.course.id %}>חזרה לדף הראשי של הקורס</a></li>
        <li><a href={% url 'learn:completion_done' completion.id %}>למעבר לשיעור הבא</a></li>
        <li><a href={% url 'learn:course_list' %}>חזרה לרשימת כל הקורסים</a></li>
        <li><a href={% url 'learn:course_unsign' completion.lesson.course.id %}>הסר את הקורס מהרשימה שלי</a></li>
      </ul>
    </div>

    {% if completion.lesson.course.hebrew %}
      <a class="btn btn-info" href={% url 'learn:course_list' %}>לרשימת כל הקורסים</a>
        {% include "learn/course_status_heb.html" %}
    {% else %}
        {% include "learn/course_status_en.html" %}
    {% endif %}

  </div>
</div>


</div>

{% endblock %}
