{% extends 'main/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="text-center bg-warning {% if not registration.need_to_message_about_completion %}d-none{% endif %}">
  <h1>ברכות! סיימתם קורס זה. נשאר רק לדרג</h1>
  <br>
  <a href="#" class="btn btn-success">דרג קורס זה - רק ללחוץ על הכוכב הנכון</a>
{% endif %}
</div>
<div class="container text-center">
  <p class="hebrew">הדרוג שלך לקורס זה:</p>
  <a href={% url 'learn:course_rate' registration.course.pk 1 %}>
  1{% if registration.stars > 0 %}<i class="fas fa-star"></i>{% else %} <i class="far fa-star"></i> {% endif %}
  </a>
  <a href={% url 'learn:course_rate' registration.course.pk 2 %}>
  {% if registration.stars > 1 %}<i class="fas fa-star"></i>{% else %} <i class="far fa-star"></i> {% endif %}
  </a>
  <a href={% url 'learn:course_rate' registration.course.pk 3 %}>
  {% if registration.stars > 2 %}<i class="fas fa-star"></i>{% else %} <i class="far fa-star"></i> {% endif %}
  </a>
  <a href={% url 'learn:course_rate' registration.course.pk 4 %}>
  {% if registration.stars > 3 %}<i class="fas fa-star"></i>{% else %} <i class="far fa-star"></i> {% endif %}
  </a>
  <a href={% url 'learn:course_rate' registration.course.pk 5 %}>
  {% if registration.stars > 4 %}<i class="fas fa-star"></i>{% else %} <i class="far fa-star"></i> {% endif %}5
  </a>

</div>
<br>

<div class="{% if completion.lesson.course.hebrew %}hebrew text-right{% endif %}">

<div class="row px-4">
  <div class="col-3">
    <h2 class="text-center">קורס {{ completion.lesson.course.title }}</h2>
    <small>אתה רשום לקורס הזה. הנה רשימה השיעורים שעליך להשלים. אם המנעול פתוח, כבר השלמת את השיעור והוא נגיש לך לריענון. אם המנעול נעול, השלם את השיעורים לפי הסדר כדי לקבל גישה.</small>
    <hr>
    {% if completion.lesson.course.hebrew %}
    <h2 class="">השיעורים:</h2>
    <!-- <small>צפו בסרטון. לאחר שתשלימו את הצפייה ואת המטלות (אם יש) שמתחתיו, אשרו שהשלמתם את השיעור ועיברו לשיעור הבא.</small> -->

    {% else %}
    <h2 class='text-center'>You are in a lesson</h2>
    <small>Please watch the video and complete any task bellow. After you are done, you may approve and continue to the next lesson. </small>
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-10">
        {% if completion.lesson.course.hebrew %}
        <!-- <p>סיימתם את השיעור הזה?</p> -->
        <!-- <a href={% url 'learn:completion_done' completion.id %} class="btn btn-info d-block">יאללה, לשיעור הבא</a><br> -->

        {% else %}
        <a href={% url 'learn:completion_done' completion.id %} class="btn btn-info d-block">Lets go to the next one.</a><br>
        <a href={% url 'learn:course_detail' completion.lesson.course.id %}>Back to main course page</a>
        {% endif %}
      </div>
    </div>

<div class="container">

</div>

<div class="container">
      <!-- Go over lesson status and links  -->
      <div class="row lesson-item">
        <div class="col-1"><i class="fas fa-lock-open"></i></div>
        <div class="col-1"><i class="far fa-check-circle"></i></div>
        <div class="col-8">
          <a class="text-white" href={% url 'learn:course_detail' completion.lesson.course.id %}>
            לדף הפתיחה של הקורס
          </a>
        </div>
        <div class="col-1"></div>

      </div>
      {% for other_completion in user_course_completion_set %}
        <!-- Lock  -->
        <div class="row lesson-item">
          <div class="col-1">
            {% if other_completion.pre_completion.completed or not other_completion.pre_completion %}
            <i class="fas fa-lock-open"></i>
            {% else %}
            <i class="fas fa-lock text-info"></i>
            {% endif %}
          </div>
          <!-- Check simbol -->
          <div class="col-1">
            {% if other_completion.completed %}
              <i class="far fa-check-circle"></i>
            {% endif %}
          </div>
          <!-- Title -->
          <div class="col-8 text-truncate">
            {% if other_completion.pre_completion.completed or not other_completion.pre_completion %}
              <a class="text-white" href={% url 'learn:completion_detail' other_completion.id %}>{{ other_completion.lesson.title }}</a>
            {% else %}
              <span class="text-muted">{{ other_completion.lesson.title }}</span>
            {% endif %}
          </div>
          <!-- bookmark -->
          <div class="col-1">
            {% if other_completion == completion %}
            <i class="far fa-bookmark"></i>
            {% endif %}
          </div>

        </div>
      {% endfor %}
</div>

      <br>


  </div>
<!--  start of middle frame -->
  <div class="col border border-primary">
    <div class="{% if course.hebrew %}hebrew text-right{% endif %}">
      <h1>{{ completion.lesson.display_title }}</h1>
      <!-- remove the bellow part later after you are sure -->
      <div class="row d-none">
        <div class="col-3"></div>
        <div class="col-3 border border-info py-2 text-center">
          <a href={% if completion.pre_completion %}{% url 'learn:completion_detail' completion.pre_completion.id %}{% endif %}>
            <i class="far fa-caret-square-right"></i> לשיעור הקודם
          </a>
        </div>
        <div class="col-3 border border-info py-2 text-center">
          <a href={% url 'learn:completion_done' completion.id %}>
            לשיעור הבא <i class="far fa-caret-square-left"></i>
          </a>
        </div>
        <div class="col-3"></div>
      </div>
      <p>{{ completion.lesson.description }}</p>
    </div>

    <div class="row justify-content-center">
      <div class="rounded-lg bg-secondary p-3 px-5 col-11">
        {% if completion.lesson.youtube %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ completion.lesson.youtube }}?rel=0" allowfullscreen></iframe>
          </div>
        {% else %}
          <h3>No Youtube.... </h3>
        {% endif %}
      </div>
    </div>

    <div class="text-center">
      <br><br>

        <div class="row">
          <div class="col-3"></div>
          <div class="col-3 border border-info py-2 text-center">
            <a href={% if completion.pre_completion %}{% url 'learn:completion_detail' completion.pre_completion.id %}{% endif %}>
              <i class="far fa-caret-square-right"></i> לשיעור הקודם
            </a>
          </div>
          <div class="col-3 border border-info py-2 text-center">
            {% if completion.test_completion %}
            <a href={% url 'learn:completion_done' completion.id %}>
              לשיעור הבא <i class="far fa-caret-square-left"></i>
            </a>
            {% else %}
              <p>יש לבצע משימה <i class="far fa-caret-square-left"></i></p>
            {% endif %}
          </div>
          <div class="col-3"></div>
        </div>
        <br>
        <!-- SCRATCH TASK: -->
        {% if completion.lesson.challenge_type == 'SC' %}
          {% if completion.test_completion %}
            <h2>נפלא! בצעת את המשימה</h2>
          {% else %}
            <h2>יש לבצע משימה לפני מעבר לשיעור הבא
              <span><h5>
                <a href="https://youtu.be/xNhhxcHBPcg" target="_blank">
                  <i class="far fa-question-circle"></i>
                </a>
              </h5></span>
            </h2>

          {% endif %}
          {{ completion.lesson.challenge }}<br>
          <br>
          <form class="" action={% url 'learn:scratch_post' completion_pk=completion.pk %} method="GET">
            <!-- <lable for="sc_text">  הדבק כאן  </lable> -->
            <input type="text" placeholder="הדבק קישור כאן" id="sc_text" name="sc_text" value="">
            <input type="submit" class="btn {% if completion.test_completion %}btn-success{% else %}btn-warning{% endif %}" value="שלח">
          </form>
          <br>
          {% if completion.test_completion %}
            <iframe src="https://scratch.mit.edu/projects/{{ completion.challenge_link }}/embed" allowtransparency="true" width="482" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
            <p><a href="https://scratch.mit.edu/projects/{{ completion.challenge_link }}">Link to the project</a>
            </p>
          {% endif %}
        {% endif %}
        <!-- END OF SCRATCH TASK -->

        <!-- FUSION TASK: -->
        {% if completion.lesson.challenge_type == 'FU' %}
          {% if completion.test_completion %}
            <h2>נפלא! בצעת את המשימה</h2>
          {% else %}
            <h2>יש לבצע משימה לפני מעבר לשיעור הבא
                <a href="https://youtu.be/gkZDgiLTYr0" target="_blank">
                  <i class="far fa-question-circle"></i> <small></small>
                </a>
            </h2>

          {% endif %}
          <p class="{% if completion.test_completion %}text-muted{% endif %}">
          {% if completion.test_completion %}(בוצע){% endif %} {{ completion.lesson.challenge }}<br>
          </p>
          <br>
          <form class="" action={% url 'learn:fusion_post' completion_pk=completion.pk %} method="GET">
            <!-- <lable for="sc_text">  הדבק כאן  </lable> -->
            <input type="text" placeholder="הדבק קישור כאן" id="in_text" name="in_text" value="">
            <input type="submit" class="btn {% if completion.test_completion %}btn-success{% else %}btn-warning{% endif %}" value="שלח">
          </form>
          <br>
          {% if completion.test_completion %}
            <!-- <iframe src="https://gmail1170223.autodesk360.com/shares/public/SH56a43QTfd62c1cd96801fc00de9e49373c?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe> -->
            <iframe src="https://gmail1170223.autodesk360.com/shares/public/{{ completion.challenge_link }}?mode=embed" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
          {% endif %}
        {% endif %}
        <!-- END OF FUSION TASK -->

        <!-- TINKERCAD TASK: -->
        {% if completion.lesson.challenge_type == 'TI' %}
          {% if completion.test_completion %}
            <h2>נפלא! בצעת את המשימה</h2>
          {% else %}
            <h2>יש לבצע משימה לפני מעבר לשיעור הבא
                <a href="#">
                  <i class="far fa-question-circle"></i> <small></small>
                </a>
            </h2>

          {% endif %}
          <p class="{% if completion.test_completion %}text-muted{% endif %}">
            {% if completion.test_completion %}(בוצע){% endif %} {{ completion.lesson.challenge }}<br>
          </p>
          <br>
          <form class="" action={% url 'learn:tinkercad_post' completion_pk=completion.pk %} method="GET">
            <input type="text" placeholder="הדבק קישור כאן" id="in_text" name="in_text" value="">
            <input type="submit" class="btn {% if completion.test_completion %}btn-success{% else %}btn-warning{% endif %}" value="שלח">
          </form>
          <br>
          {% if completion.test_completion %}
            <iframe width="560" height="350" src="https://www.tinkercad.com/embed/{{ completion.challenge_link }}?editbtn=1" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
          {% endif %}
        {% endif %}
        <!-- END OF TINKERCAD TASK -->
      </div>



  </div>
  <div class="col-3">

    <div class="border border-top border-info mb-3">
      <ul>
        <li><a href={% url 'learn:course_list' %}><i class="fas fa-list-ol"></i> חזרה לרשימת כל הקורסים</a></li>
        <li><a href={% url 'learn:course_detail' completion.lesson.course.id %}><i class="far fa-caret-square-left"></i> חזרה לדף הראשי של הקורס</a></li>
        <li><a href={% url 'learn:completion_done' completion.id %}><i class="far fa-caret-square-left"></i> מעבר לשיעור הבא</a></li>
        <li><a class="text-danger" href={% url 'learn:course_unsign' completion.lesson.course.id %}><i class="far fa-trash-alt text-danger"></i> הסר את הקורס מהרשימה שלי</a></li>
      </ul>
    </div>

    {% if completion.lesson.course.hebrew %}
        {% include "learn/course_status_heb.html" %}
    {% else %}
        {% include "learn/course_status_en.html" %}
    {% endif %}

  </div>
</div>


</div>

{% endblock %}
