{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container ">

  <div class="row border border-primary border-top-0">
    <!-- This is Left Column -->
    <div class="col-9 ">
      <div class="bg-white sticky-offset border-primary border-bottom mb-4">
          <h2 class="text-center">קורסים בשבילך</h2>
          <!-- <h3 class="text-center hebrew">צא ולמד!</h3> -->
          <p class="hebrew text-right">ברוכים הבאים לאתר הלמידה. כאן תמצאו קורסים שיעזרו לכם ללמוד תכנים טכנולוגיים מעשיים. הרשמו ולימדו. הקורסים מסודרים בצורה שתאפשר לכם להתקדם בקצב שלכם ולסמן כל שיעור שעברתם. לחלקם יש מטלות לביצוע לפני שעוברים לשיעור הבא. המערכת מבוססת על אמון, כלומר אם סימנתם שהקשבתם לשיעור אז אנחנו מאמינים לכם. בהצלחה. תהנו ותתנו משוב.</p>
        </div>

        <div class="card-columns">
          {% for course in course_list.all %}

          <div class="card border border-primary rounded {% if not course.published and not user.is_staff %}d-none{% endif %}">

            {% if course.image %}
            <a href={% url 'learn:course_detail' course.id %}>
              <!-- This block will identify the last competion to send the user to -->
              {% for registration in courses_registered %}
                {% if registration.course == course %}
                  {% if registration.last_completion %}
                    <a href={% url 'learn:completion_detail' registration.last_completion.id %}>
                  {% endif %}
                {% endif %}
              {% endfor %}

            <img class="card-img-top p-3" src={{ course.image.url }} alt="image">
            </a>
            {% endif %}
            <div class="card-body">
              {% if course.owner == user %}
              <a href={% url 'learn:course_update' course.pk %}><i class="fas fa-edit"></i></a>
              {% endif %}
              <a href={% url 'learn:course_detail' course.id %}>
                <!-- This block will identify the last competion to send the user to -->
                {% for registration in courses_registered %}
                  {% if registration.course == course %}
                    {% if registration.last_completion %}
                      <a href={% url 'learn:completion_detail' registration.last_completion.id %}>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                <h5 class="card-title{% if course.hebrew %} hebrew text-right{% endif %}">{{ course.title|safe }}</h5>
                {% if not course.published and user.is_staff %}
                  <p>Staff message: This course is not published yet</p>
                {% endif %}
              </a>
              <p class="card-text {% if course.hebrew %} hebrew text-right{% endif %}">{{ course.short_description|safe }}</p>
            </div>
          </div>
          {% endfor %}

        </div>

    </div>
    <!-- This is Right Column -->
      <div class="col-3 border border-primary border-top-0 bg-white">
        <div class="sticky-offset text-right rtl">
          {% if user.is_staff %}
            <p><a href={% url 'learn:course_create' %}>בנה את הקורס שלך</a></p>
          {% endif %}
        <p>כאן יהיו סטטוסים שונים</p>

        <div class="d-none d-sm-block hebrew text-right">
          {% include "learn/course_status_heb.html" %}
        </div>

        </div>
      </div>


  </div>

</div>


{% endblock %}
