{% extends 'main/base.html' %}

{% block content %}
{% if user.is_authenticated %}

      <!--                        -->
      <!-- Congratulation message -->
      <!--                        -->

<div class="text-center bg-warning {% if not registration.need_to_message_about_completion %}d-none{% endif %}">
  <h1>ברכות! סיימתם קורס זה. <span>נשאר רק לדרג ולתת משוב</span></h1>
  <br>
  <a href="#" class="btn btn-success">דרג קורס זה</a>
<p><em>TBD - implement rating here. only after the user will rate this message will go away. </em></p>
</div>
{% endif %}
<div class="{% if course.hebrew %}hebrew text-right{% endif %}">

  <!--                        -->
  <!-- Lesson List section -->
  <!--                        -->

<div class="row px-4">
  <div class="col-3">
        {% if registration %}
        <!-- Show the user completion set -->
          {% if course.hebrew %}
          <h2 class="text-center">אתם רשומים לקורס זה</h2>
          <small>אתה רשום לקורס הזה. הנה רשימה השיעורים שעליך להשלים. אם המנעול פתוח, כבר השלמת את השיעור והוא נגיש לך לריענון. אם המנעול נעול, השלם את השיעורים לפי הסדר כדי לקבל גישה.</small>
          {% else %}
          <h2 class='text-center'>You are registered to this course</h2>
          <small>This are the lessone you need to complete. open lock means that you can do the lesson. closed one means there are pre-lessons you need to complete. enjoy.</small>
          {% endif %}
          <hr>
          <h2>השיעורים:</h2>

          <div class="container">
                <!-- Go over lesson status and links  -->

                {% for other_completion in user_course_completion_set %}
                  <!-- Lock  -->
                  <div class="row lesson-item">
                    <div class="col-1">
                      {% if other_completion.pre_completion.completed or not other_completion.pre_completion %}
                      <i class="fas fa-lock-open"></i>
                      {% else %}
                      <i class="fas fa-lock text-info"></i>
                      {% endif %}
                    </div>
                    <!-- Check simbol -->
                    <div class="col-1">
                      {% if other_completion.completed %}
                        <i class="far fa-check-circle"></i>
                      {% endif %}
                    </div>
                    <!-- Title -->
                    <div class="col-8 text-truncate">
                      {% if other_completion.pre_completion.completed or not other_completion.pre_completion %}
                        <a class="text-white" href={% url 'learn:completion_detail' other_completion.id %}>{{ other_completion.lesson.title }}</a>
                      {% else %}
                        <span class="text-muted">{{ other_completion.lesson.title }}</span>
                      {% endif %}
                    </div>
                    <!-- bookmark -->
                    <div class="col-1">
                      {% if other_completion == registration.last_completion %}
                      <i class="far fa-bookmark"></i>
                      {% endif %}
                    </div>

                  </div>
                {% endfor %}
          </div>


        {% else %}
          {% if user.is_authenticated %}
            <!-- <a href={% url 'learn:course_sign' course.id %} class="btn btn-info">הוסף את הקורס לרשימה שלי</a> -->
            <p>אלו השיעורים בקורס זה.
            <a href={% url 'learn:course_sign' course.id %}> הירשמו</a>
            </p>
            <ul class="text-muted">
              {% for lesson in course.lessons.all %}
              <li>
                {{ lesson.title }}
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>כאן תוכל להרשם לקורס זה ולצפות בכל השיעורים. אבל צריך להרשם לאתר בשביל זה</p>
            <a href={% url 'login' %} class="btn btn-info">התחבר</a>
          {% endif %}

        {% endif %}

  </div>

  <!--                        -->
  <!-- Main content session -->
  <!--                        -->

  <div class="col border border-info px-5 pb-3">
    <div class="{% if course.hebrew %}hebrew text-right{% endif %}">
      <h1>{{ course.title}} - דף פתיחה
      {% if user.is_authenticated %}
        {% if registration %}

        {% else %}
        <a class="btn btn-info" href={% url 'learn:course_sign' course.id %}>
          הוסף את הקורס לרשימה שלי
        </a>
        {% endif %}
      {% else %}
        <a class="btn btn-info" href={% url 'login' %}>התחבר כדי להרשם</a>
      {% endif %}
      </h1>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3 border border-info py-2 text-center">
          מה שלומך?
        </div>
        <div class="col-3 border border-info py-2 text-center">
          {% if registration.last_completion %}
          <a href={% url 'learn:completion_detail' registration.last_completion.id %}> לשיעור האחרון שהיית בו <i class="far fa-caret-square-left"></i></a>
          {% else %}
          <p>רשימת השיעורים מימין</p>
          {% endif %}
        </div>
        <div class="col-3"></div>
      </div>

      <p>{{ course.description }}</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-11 rounded-lg bg-secondary p-3 px-5 ">
        {% if course.youtube %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ course.youtube }}?rel=0" allowfullscreen></iframe>
        </div>
        {% else %}
        <h3>No Youtube.... </h3>
        {% endif %}
      </div>
    </div>
  </div>

  <!--                        -->
  <!-- All courses section and info -->
  <!--                        -->

  <div class="col-3">

    {% if course.hebrew %}
    <div class="border border-top border-info mb-3">
      <ul>
        <li><a href={% url 'learn:course_list' %}><i class="fas fa-list-ol"></i> חזרה לרשימת כל הקורסים</a></li>
        {% if user.is_authenticated %}
          {% if registration %}
            <li><a href={% url 'learn:course_unsign' course.id %}><i class="far fa-trash-alt text-danger"></i> הסר את הקורס מהרשימה שלי</a></li>
          {% else %}
            <li>
              <a class="" href={% url 'learn:course_sign' course.id %}><i class="fas fa-plus"></i> 
            הוסף את הקורס לרשימה שלי
              </a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>

        {% include "learn/course_status_heb.html" %}
    {% else %}
        {% include "learn/course_status_en.html" %}
    {% endif %}
  </div>
</div>


</div>
{% endblock %}
