{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container text-right rtl ">
  <h3 class="text-center">עריכת פרטי קורס ושיעורים</h3>

  <div class="row d-flex justify-content-center">
    <div class="col-8 col-sm-5">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        לחץ לקבלת טיפ איך לכתוב בעברית בצורה נוחה <i class="far fa-lightbulb"></i>
      </button>

      <!-- Modal Tip button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">?איך לכתוב בעברית</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body hebrew text-right">
  תוכלו לכתוב גם בעברית בצורה מיושרת לימין. הדרך הנוחה ביותר היא לכתוב כרצונכם בתוכנת דואר או בוורד מיושר לימין, ואז לגזור ולהעתיק לשדה בטופס.            </div>

          </div>
        </div>
      </div>

    </div>

  </div>


<div class="row d-flex justify-content-center">
  <div class="col-sm-8 border border-primary rounded pb-2 px-3 pt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
  </div>
</div>

<br><br><hr>
<div class="text-right">
  <h2 class="text-right">שיעורים</h2>
  {% for lesson in course.lessons.all %}
  <a href={% url 'learn:lesson_update' lesson.pk %}><p>{{ lesson.title }}</p></a>
  <p> --> pre was {{ lesson.pre_lesson.title }}</p>
  {% endfor %}
  <br><br><hr>
  <a href={% url 'learn:lesson_create' course.pk %}>הוסף שיעור</a>

</div>

</div>

{% endblock %}
