{% extends "main/base.html" %}
{% block content %}
<div class="container">
<h1>All order status -
  {% if user.is_staff %}
  Admin
  {% endif %}
  {% if user.profile.is_supplier %} Supplier{% endif %} view</h1>

{% if user.is_staff %}
<h3>Orders ready that needs to go to a batch:</h3>
<ul>
  {% for order in ready_orders %}
    <li>
      {{ order }}
      <a href={% url 'learn:order_detail' order.pk %} target="_blank" >Details</a> ;
    </li>
  {% endfor %}
</ul>
<br><hr>

<h3>Orders NOT ready:</h3>
<ul>
  {% for order in not_ready_orders %}
    <li>
      {{ order }} ;
      <a href={% url 'learn:order_detail' order.pk %} target="_blank" >Details</a> ;
      {{ order.error }}
    </li>
  {% endfor %}
</ul>
<br><hr>
{% endif %}

<!-- Supplier View -->
{% if user.profile.is_supplier %}
  <h2>Supply View for {{ user }}</h2>
  {% for batch in supplier_batches %}
    <p><b><a href={% url 'learn:batch_detail' batch.pk  %}>{{ batch }} - {{ batch.description }}</a></b></p>
    <p>
      <span {% if batch.done %} class="p-3 mb-2 bg-success text-white" {% endif %}>
        Batch size: {{ batch.amount }} --> left slots: {{ batch.amount_left }}
      </span></p>
    <p
      {% if batch.done %} class="p-3 mb-2 bg-success text-white" {% endif %}>
      Batch {% if not batch.done %}not{% endif %} Done
    </p>
    <h5>orders</h5>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Address</th>
          <th scope="col">File</th>
          <th scope="col">Printed</th>
          <th scope="col">Sent</th>
        </tr>
</thead>
<tbody>
  {% for order in batch.orders.all %}
  <tr>
    <td><a target="_blank" href={% url 'learn:order_detail' order.pk %}>{{ order }}</a></td>
    <td>{{ order.address }}</td>
    <td><a href="{{ order.file.url }}">{{ order.filename }}</a></td>
    <td>
      {% if not order.printed %}
        <a href={% url 'learn:order_mark_printed' order.pk %}><i class="far fa-square"></i></a>
      {% else %}
        <a href={% url 'learn:order_mark_unprinted' order.pk %} ><i class="far fa-check-square"></i></a>
      {% endif %}
    </td>
    <td>
      {% if not order.sent %}
        <a href={% url 'learn:order_mark_sent' order.pk %}><i class="far fa-square"></i></a>
      {% else %}
        <a href={% url 'learn:order_mark_unsent' order.pk %} ><i class="far fa-check-square"></i> {{ order.sent_date }}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</tbody>
</table>

  {% endfor %}
{% endif %}

<!-- Admin Batch status -->
{% if user.is_staff %}
  <h2>All Batches in the system (Admin View)</h2><hr><hr>
  {% for batch in batches %}
  <p><b><a href={% url 'learn:batch_detail' batch.pk  %}>{{ batch }} - {{ batch.description }}</a></b></p>
  <p>owner: {{ batch.owner }} ;
    <span {% if batch.completed %} class="p-3 mb-2 bg-success text-white" {% endif %}>
  batch size: {{ batch.amount }} --> left slots: {{ batch.amount_left }}
    </span>
  </p>
  <h5>orders</h5>
    {% for order in batch.orders.all %}
      <a href={% url 'learn:order_detail' order.pk %}>{{ order }}</a>
      {% if order.printed %} printed ; {% endif %} {% if order.sent %} sent: {{ order.sent_date }} {% endif %}
       <br>
    {% endfor %}
  <br><hr><hr>
  {% endfor %}
{% endif %}

</div>


{% endblock %}
