{% extends "main/base.html" %}

{% block content %}
    <div class="container hebrew rtl text-right">

    <h1>דוח התקדמות אישית של {{ report_user.first_name }} {{ report_user.last_name }} </h1>
    <h3>אף אחד לא יכול לראות את הדוח הזה פרט אליך.  </h3>
    <a href="#">רוצה לשתף? (לא עובד עדיין)</a>

    <br>
    <hr>
    {% for registration in portfolio %}
      <h2>{{ registration.registration.course.title }} -- ({{registration.registration.precentage}}%) </h2>
      {% for completion in registration.completions %}
        {% if completion.completed %}
        <div class="font-weight-bold">
        {% else %}
        <div class="font-weight-light">
        {% endif %}
        <p>{{ completion.lesson.title }}</p>
        <!-- Tasks -->
        {% if completion.lesson.challenge_type != 'NO' and completion.completed %}
          <p>משימה: {{ completion.lesson.challenge| safe }}</p>
            <!--  SCRATCH TASK -->
          {% if completion.lesson.challenge_type == 'SC' %}
            <iframe src="https://scratch.mit.edu/projects/{{ completion.challenge_link }}/embed" allowtransparency="true" width="482" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
            <p><a href="https://scratch.mit.edu/projects/{{ completion.challenge_link }}">Link to the project</a>
          {% endif %}
          <!--  End of SCRATCH TASK -->
          <!--  YOutube TASK -->
          {% if completion.lesson.challenge_type == 'YO' %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ completion.challenge_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% endif %}
        <!--  end of Youtube TASK -->
          <!--  image TASK -->
            {% if completion.lesson.challenge_type == 'IM' and completion.image.url %}
              <img src="{{ completion.image.url }}" alt="" width=100%>
            {% endif %}
        <!--  end of image TASK -->
          {% if completion.lesson.challenge_type == 'TI' %}
          <h1>{{ completion.challenge_link }}</h1>
            <iframe width="725" height="453" src="https://www.tinkercad.com/embed/{{ completion.challenge_link }}?editbtn=1" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            <p><a href="https://www.tinkercad.com/things/{{ completion.challenge_link }}">Link to the project</a>
          {% endif %}
        {% endif %}

        </div>
      {% endfor %}
    {% endfor %}



    </div>
{% endblock %}
