{% extends "main/base.html" %}
{% load socialaccount %}

{% block content %}

  {% if form.errors %}
    {{ errors }}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-8 col-md-6 col-lg-4 border border-primary rounded">
        <h3 class="text-center">Login with:</h3>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 m-2">
              <!-- <a href="{% provider_login_url 'facebook' %}" class="btn btn-primary d-block"><i class="fab fa-facebook-f pr-4"></i>facebook</a> -->
              <!-- <a href="#" class="btn btn-primary d-block"><i class="fab fa-facebook-f pr-4"></i>facebook (TBD)</a> -->
            </div>
            <div class="col-8 m-2">
              <a href="{% provider_login_url 'google' %}" class="btn btn-danger d-block"><i class="fab fa-google pr-4"></i>Google</a>
            </div>
            <div class="col-8 m-2">
              <a href="{% provider_login_url 'github' %}" class="btn btn-info d-block"><i class="fab fa-github-square pr-4"></i>Github</a>
            </div>

        </div>

        </div>
        <br>

      <p class="text-center">-- OR --</p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="control-group mb-4">
        <div class="controls">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-user"></i></div>
            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
          </div>
        </div>
      </div>

      <div class="control-group">
          <div class="controls">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
              <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
          </div>
      </div>
      <br>
      <div class="control-group">
        <div class="d-block ">
          <div class="controls border">
            <button type="submit" class="btn btn-success btn-block">Login</button>
          </div>
        </div>
      </div>

    </form>
    <p>
      <a href="{% url 'signup' %}"> or sign up</a>
    </p>
    </div>
  </div>
</div>


<hr>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
    </div>
  </div>





{% endblock %}
