{% extends "main/base.html" %}
{% load socialaccount %}

{% block content %}
{% if error %}
<h3>Something went wrong:</h3>
<p color='red'>{{ error }}</p>
{% endif %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 border border-primary rounded">
      <h3 class="text-center">Login with:</h3>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 m-2">
            <!-- <a href=# class="btn btn-primary d-block"><i class="fab fa-facebook-f pr-4"></i>facebook (TBD)</a> -->
          </div>
          <div class="col-8 m-2">
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger d-block"><i class="fab fa-google pr-4"></i>Google</a>
          </div>
          <div class="col-8 m-2">
            <a href="{% provider_login_url 'github' %}" class="btn btn-info d-block"><i class="fab fa-github-square pr-4"></i>Github</a>
          </div>

      </div>

      </div>
      <br>
<p class="text-center">Have user/password? <a href="{% url 'login' %}">Login</a></p>
    </div>
    </div>
    <br><br><hr>
    <h2 class="text-center">-- OR --</h2>
  <div class="row ">
    <div class="col-3"></div>
    <div class="col-6 border border-primary">
      <h2 class="text-center">Sign up</h2><br>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.GET.next %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <button type="submit">Sign up</button>
      </form>
      <br>
      <br>
      <br>

    </div>
    <div class="col-4"></div>
  </div>

</div>

{% endblock %}
