{% extends "main/base.html" %}
{% load static %}

{% block content %}


  <div class="hebrew text-right rtl">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <!-- CONTAINER -->
        <div class="row">
          <!-- RIGHT COLUMN -->
          <div class="col-3 border border-primary rounded">
            <div class="sticky-offset mt-4">
              <p><a href={% url 'projects:project_list' %}><i class="far fa-list-alt"></i> לרשימת כל הפרויקטים</a></p>
              <p><a href={% url 'projects:project_create' %}><i class="far fa-plus-square"></i> הוסף פרוייקט חדש</a></p>
              {% if project.owner == user %}
              <p><a href={% url 'projects:project_delete' project.pk %} class="text-danger"><i class="far fa-trash-alt"></i> מחק פרוייקט זה</a></p>
              <p><a href={% url 'projects:project_update' project.pk %}><i class="far fa-edit"></i> ערוך פרוייקט זה</a></p>
              {% endif %}
              <br>
              <h4>
                פרויקטים נוספים
                {% if project.owner.first_name %}
                של {{ project.owner.first_name }}:
                {% endif %}
              </h4>
              <br>
              {% for proj in project.owner.projects.all %}
              <a href={% url 'projects:project_detail' proj.pk %}><h5>{{ proj.title}}</h5></a>
              <p>{{ proj.short_description}}</p>
              <hr>
              {% endfor %}

            </div>

          </div>

          <!--  MID COLUMN -->
          <div class="col-6 px-4">
            <h1>
              {{ project.title }}
              {% if project.owner == user %}
              <a href={% url 'projects:project_update' project.pk %}><i class="far fa-edit"></i></a>
              {% endif %}
            </h1>
            <h4>
              פרוייקט של:
              {% if project.owner.first_name %}
              <a href={% url 'main:profile' project.owner.profile.pk %}>{{ project.owner.first_name }} {{ project.owner.last_name }}</a>
              {% else %}
              <a href={% url 'main:profile' project.owner.profile.pk %}>{{ project.owner.username }}</a>
              {% endif %}
            </h4>
            {% if project.youtube %}
            <p>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ project.youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
            {% endif %}
            <p class="text-center">{{ project.description|safe }}</p>
            <hr>



          </div>

          <!-- LEFT COLUMN -->

          <div class="col-3 border border-primary rounded">

            <h4>
              קישורים של הפרוייקט:
              {% if project.owner == user %}
              <br><a href={% url 'projects:add_link' project.pk %}><span style="font-size: 15px"><i class="far fa-plus-square"></i> הוסף קישור </span></a><br>
              {% endif %}
            </h4>
            {% if not project.links.all %}
            <p>לא צורפו קישורים</p>
            {% endif %}
            <ul>
              {% for link in project.links.all %}
              <li>
                <a href="{{ link.link }}">{% if link.title %}{{ link.title}}{% else %}{{ link.link }}{% endif %}</a>
                {% if project.owner == user %}<a href={% url 'projects:link_delete' link.pk %}><i class="far fa-trash-alt"></i></a>{% endif %}
              </li>
              {% endfor %}
            </ul>
            <br>
            <h4>
              תמונות:
            </h4>
            {% if project.owner == user %}
            <a href={% url 'projects:add_pic' project.pk %}><span style="font-size: 15px"><i class="far fa-plus-square"></i> הוסף תמונה</span></a>
            {% endif %}


            {% for img in project.images.all %}

            <!-- <img class="" src={{ img.image.url }} width="100%"  alt="image"> -->
            <img class="" src="{{ img.image.url }}" width="100%" alt="Card image cap">
            <h5 class="card-title">{{ img.title }}
              {% if project.owner == user %}
              <a href={% url 'projects:image_delete' img.pk %} class=""><i class="far fa-trash-alt"></i></a>
              {% endif %}
            </h5>
            {% endfor %}

          </div>
        </div>


        <!-- END OF CONTAINER -->
      </div>
      <div class="col-2"></div>
    </div>



{% endblock %}
