<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/0eb9bf2c1a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=IBM+Plex+Serif:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static "main/Logo.png" %}">

    <link rel="stylesheet" href={% static 'main/css/site_custom.css' %}>
    <!-- <link rel="stylesheet" href="{% static 'main/css/main_local.css' %}"> -->
  <title>מטצים</title>
    <!-- The bellow is for tinymce editor cdn -->
    <!--  more info: https://www.codementor.io/hiteshgarg14/how-to-integrate-custom-rich-text-editor-in-django-54czmp0gi-->
    <script src="https://cdn.tiny.cloud/1/wqz74mr18ulmc97svb64752cmeadhyf5z3y7g3b556whx4m0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

</head>
  <body>
    <!-- example navbar -->

<div class="border-bottom">

<div class="sticky-top bg-white">


    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary text-white hebrew ">
    <div class="container">
      <div class="d-flex justify-content-start">

      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "main/Logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="Matazim Logo">
        <!-- <span>Avi Home</span> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="font-weight-bold collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'learn:course_list' %}">קורסים<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'programs:program_list' %}">תוכניות<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'programs:facilitator_list' %}">מרחבי יצירה<span class="sr-only">(current)</span></a>
          <!-- </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Navigate
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
              <!-- <a class="dropdown-item" href=#>Learn</a> -->
              <!-- <a class="dropdown-item" href={% url 'programs:program_list' %}>Programs</a>
              <a class="dropdown-item" href={% url 'programs:facilitator_list' %}>Schools / Maker Spaces</a>
              <a class="dropdown-item" href={% url 'learn:course_list' %}>Lerning</a>
              <a class="dropdown-item" href=#>Matazim</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Connect us</a>
            </div>
          </li> -->
          <li class="nav-item dropdown font-weight-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Help development
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href=#>Learn</a> -->
              <a class="dropdown-item" target="_blank" href="https://github.com/avisalmon/matazim">GitHub</a>
              <a class="dropdown-item" target="_blank" href="https://airtable.com/tblzIwe7Vwt9A0qfU/viwzPk0NFxxwqlBQd?blocks=show">Report a bug</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Connect us</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 hebrew" type="search" placeholder="אני מחפש..." aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">חפש</button>
    </form>
  </div>
    </nav>

<div class="container pb-0">
      {% if user.is_authenticated %}
        <p class="pl-3">Looged in as ({{ user.username}}) <b>{{ user.first_name}} {{ user.last_name}}</b>  <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'main:my_profile_view' %}">  |  See your profile</a>
      </p>
      {% else %}
        <p>
          <a href="{% url 'login' %}">Login</a> &nbsp;&nbsp;
          <a href="{% url 'signup' %}">Sign Up</a>
          <!-- <a href="{% provider_login_url 'github' %}">Login with GitHub</a>...
          <a href="{% provider_login_url 'google' %}">Login with Google</a>...
          <a href="{% provider_login_url 'facebook' %}">Login with FaceBook</a>...
        </p> -->
      {% endif %}
      {% if user.is_authenticated and not user.email and not user.first_name %}
      <div class="text-danger">
        <h1 class="" > PLEASE GIVE MORE DETAILS ON YOUR PROFILE </h1>
        <h2>It is very helpfull for the network. at least add you mail and name. </h2>
        <p>We promiss not to expose your email. ONLY through our messaging system</p>
        <h3>
          <a href={% url 'main:edit_profile' %}>Edit your Profile</a>
        </h3>
      </div>
</div>



      {% endif %}


</div>
</div>

        {% block content %}{% endblock %}





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <script src="{% static 'main/bootstrap-4.5.2/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
