<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/0eb9bf2c1a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=IBM+Plex+Serif:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static "main/favicon.ico" %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href={% static 'main/css/site_custom.css' %}>
    <link rel="stylesheet" href={% static 'main/css/avistyle.css' %}>
    <!-- <link rel="stylesheet" href="{% static 'main/css/main_local.css' %}"> -->
  <title>מטצים</title>

      <!--  TinyMCE configurations -->
    <script src="https://cdn.tiny.cloud/1/wqz74mr18ulmc97svb64752cmeadhyf5z3y7g3b556whx4m0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector:'textarea',
        // plugins: 'directionality link',
        plugins: [
          'advlist autolink lists link  charmap print preview anchor',
          'searchreplace visualblocks code fullscreen directionality',
          'insertdatetime  table paste code help wordcount'
        ],
        // got out of plugings image media
        // toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | ltr rtl | link',
        toolbar: 'undo redo | formatselect | ' +
                  'bold italic backcolor forecolor | link | ltr rtl | alignleft aligncenter ' +
                  'alignright alignjustify | bullist numlist outdent indent | ' +
                  'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
        branding: false,
        link_assume_external_targets: true
      });</script>
    <!-- Quill css Js : -->
    <!-- form.media -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189055468-1">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-189055468-1');
      </script>

</head>
  <body>
    <!-- <div class="a_bg_img">
      <img src="{% static 'main/tech_bg.jpg' %}" alt="">
    </div> -->
    <!-- Main Nav -->
    <div class="nav_main">
      <div class="nav_container">
        <div class="nav_user">
          {% if user.is_authenticated %}
            <a class="" href={% url 'logout' %}><i class="fas fa-sign-out-alt" data-toggle="tooltip" data-placement="top" title="התנתק"></i></a>&nbsp &nbsp
            <a class="" href={% url 'main:profile' user.profile.pk %}><i class="fas fa-user" data-toggle="tooltip" data-placement="top" title="{{ user.username }} קישור לדף הפרופיל האישי"></i></a>
            &nbsp {{ user.first_name }} {{ user.last_name }}
          {% else %}
            <a class="" href={% url 'signup' %}><i class="fas fa-user-plus" data-toggle="tooltip" data-placement="top" title="הרשם"></i></a>&nbsp &nbsp
            <a class="" href={% url 'login' %}><i class="fas fa-sign-in-alt" data-toggle="tooltip" data-placement="top" title="התחבר"></i></a>
          {% endif %}
        </div>
        <div class="nav_search">
          <form class="" action={% url 'main:search' %}>
            <button class="" type="submit"><i class="fas fa-search"></i></button>
            <input class="" type="text" id="term" name="term" placeholder="אני מחפש..." aria-label="Search">
          </form>
        </div>
        <div class="nav_menu">
          <ul>
            <!-- <li>
              <a href="{% url 'home' %}">
                <i class="fas fa-home"></i>
              </a>
            </li> -->
            <li>
              <a href="{% url 'learn:course_list' %}">
                קורסים
              </a>
            </li>
            <li>
              <a href="{% url 'programs:program_list' %}">
                תוכניות
              </a>
            </li>
         
            {% if user.is_staff %}
            <li class="">
              <a class="" href="{% url 'funnel:camp_tree' %}">Funnel<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            {% if user.is_staff or user.profile.is_supplier %}
            <li class="">
              <a class="" href="{% url 'learn:order_admin_list' %}">Orders<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

            <li class="dropdown">
              <div >
                <button onclick="myFunction()" class="dropbtn">עוד</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="https://docs.google.com/presentation/d/e/2PACX-1vTLlmayfLmeBVDV4X2OlZ9yxUb5UslBiS9bsWbE68StlRcB-zCF9juYez2M5Hs0WxcJ2CBVxALhaoTe/pub?start=false&loop=false&delayms=3000&slide=id.p" target="_blank">
                    מפת דרכים
                  </a>
                  <a href="https://Makerspace.co.il" target="_blank">
                    מרחבים בישראל
                  </a>
                  <a href="https://makerspace.co.il/%d7%9e%d7%99%d7%99%d7%a7%d7%a8%d7%a1-%d7%91%d7%9b%d7%90%d7%9f11/" target="_blank">
                    מייקרז - כאן11
                  </a>
                  {% if user.is_staff %}
                  <a href="{% url 'projects:project_list' %}">פרויקטים<span class="sr-only">(current)</span></a>
                  {% endif %}
                </div>
              </div>
            </li>
            
          </ul>
          
        </div>
        <div class="nav_logo">
          <a href={% url 'home' %}>
            <img src={% static 'main/logo_full.png' %} width="100%" height="100%" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="">
      {% block content %}{% endblock %}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <script src="{% static 'main/bootstrap-4.5.2/dist/js/bootstrap.min.js' %}"></script>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      </script>
      

      {% block javascript %}{% endblock %}

  </body>
</html>
