{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="home_full_page">
  
</div>

  <div class="home_top a_container">
    <div class="home_desc">
      <p>
        מטצים – מובילים טכנולוגיים צעירים. תוכנית המתמקדת בהכשרת נוער בגיל צעיר ככל הניתן על מנת להכשיר אותם כמובילים ומדריכים טכנולוגיים כבר בתקופת החטיבה והתיכון. באתר זה תמצאו קורסים בחינם לתכנים טכנולוגיים. כמו כן באתר תמצאו רשימות של תוכניות ארציות ומרחבי יצירה בהם מטצים מוזמנים להשתלב כמדריכים.
      </p>

    </div>
    <div class="home_title">
      <h1>האקדמיה למטצים</h1>
      <h2>מובילים טכנולוגיים צעירים</h2>
    </div>
  </div>


<div class="home_cards a_container">

  <!-- Spaces in Israel -->
  <div class="home_card">

    <div class="home_card_image">
      <a href="https://makerspace.co.il/">
        <img class="" width="100%" height="100% " src="{% static 'programs/makers.png' %}" alt="">
      </a>
    </div>
    <div class="home_card_title">
      <a href="https://makerspace.co.il/">
        <h2>
              מרחבים בישראל
          </h2>
      </a>
    </div>
    <div class="home_card_text">
      <a href="https://makerspace.co.il/">
        <p>
          יש הרבה מרחבי יצירה בישראל ומייקרספייסים שתוכלו להשתלב בהם. אתם מוזמנים לצפות במפה ולבקר במקום הקרוב אליכם. 
        </p>
      </a>
      

    </div>
  </div>

  <!-- Projects/chalenges -->
  <div class="home_card">

    <div class="home_card_image">
      <a href="{% url 'projects:project_list' %}">
        <img class="" width="100%" height="100% " src="{% static 'main/coffee.jpg' %}" alt="">
      </a>
    </div>
    <div class="home_card_title">
      <a href="{% url 'projects:project_list' %}">
        <h2>
             פרויקטים ואתגרים
          </h2>
      </a>
    </div>
    <div class="home_card_text">
      <a href="{% url 'projects:project_list' %}">
        <p>
        אנחנו מציעים לכם מגוון רחב של קורסים טכנולוגיים. הכל בחינם ותוכלו לעקוב אחרי קצב ההתקדמות שלכם. ככל שתצברו יותר ידע, דרככם להיות מטצ מתקצרת.
        </p>
      </a>
      

    </div>
  </div>

    <!-- Learn -->
    <div class="home_card">

      <div class="home_card_image">
        <a href="{% url 'learn:course_list' %}">
          <img class="" width="100%" height="100% " src="{% static 'programs/school.png' %}" alt="">
        </a>
      </div>
      <div class="home_card_title">
        <a href="{% url 'learn:course_list' %}">
          <h2>
                צא ולמד
            </h2>
        </a>
      </div>
      <div class="home_card_text">
        <a href="{% url 'learn:course_list' %}">
          <p>
          אנחנו מציעים לכם מגוון רחב של קורסים טכנולוגיים. הכל בחינם ותוכלו לעקוב אחרי קצב ההתקדמות שלכם. ככל שתצברו יותר ידע, דרככם להיות מטצ מתקצרת.
          </p>
        </a>
        
  
      </div>
    </div>
  
</div>
<br><br>
<footer class="main_footer a_container">
  <div class="main_footer_right">
    <a class="" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfdSveMs64-mPjxRccDCa0TKPQA3Kmcvn9LgtbiafIeYwsIjA/viewform?usp=sf_link">דווח על בעיה</a>
    {% if user.is_staff %}
    <a class="" target="_blank" href="https://github.com/avisalmon/matazim">GitHub</a>
    <a class="" target="_blank" href="https://airtable.com/tblzIwe7Vwt9A0qfU/viwzPk0NFxxwqlBQd?blocks=show">Air table (staff only)</a>
    <a class="" target="_blank" href={% url 'learn:learn_report' %}>Students report (staff only)</a>
    {% endif %}

  </div>
 </footer>
 <br>


{% endblock %}
