{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="container text-right rtl hebrew">
  <h1 dir="/rtl"><i class="fab fa-angrycreative fa-2x text-danger"></i> מרחבי יצירה ו Maker spaces</h1>
  <p>מרחבי יצירה, בתי ספר יצירתיים, מייקרספייס וכו</p>

  {% if user.is_authenticated %}
    <h2>
      <a href={% url 'programs:facilitator_create' %}><i class="fas fa-plus-square" data-toggle="tooltip" data-placement="top" title="הוסף מרחב לרשימה"></i></i></a>
      <a href=https://docs.google.com/forms/d/e/1FAIpQLSfdSveMs64-mPjxRccDCa0TKPQA3Kmcvn9LgtbiafIeYwsIjA/viewform?usp=sf_link"><i class="far fa-envelope" data-toggle="tooltip" data-placement="top" title="כתוב לנו הודעה לשינוי פרטים"></i></a>
    </h2>
  {% endif %}

<hr>
  <div class="" id="programList">
    {% for facilitator in facilitator_list %}

    <div class="card my-4">
      <h5 class="card-header">
        <a href={% url 'programs:facilitator_detail' facilitator.id %}>
          {{ facilitator.name }}
        </a>
        {% if facilitator.owner == user %}
        <span class="font-weight-normal text-danger">
          ... זהו מרחב בבעלותך...
            <a class="pr-2" data-toggle="tooltip" data-placement="top" title="ערוך את פרטי התוכנית" href={% url 'programs:facilitator_update' facilitator.id %}><i class="fas fa-edit"></i></a>
            <a data-toggle="tooltip" data-placement="top" title="מחק תוכנית זו מהרשימה" href={% url 'programs:facilitator_delete' facilitator.id %}><i class="fas fa-trash-alt"></i></a>
        </span>
        {% endif %}
      </h5>

      <div class="card-body">
        <div class="row">
          <div class="col-2 d-none d-md-block">
            <a href={% url 'programs:facilitator_detail' facilitator.id %}>
              {% if facilitator.image %}
              <img  class="img-fluid" src="{{ facilitator.image.url }}"  alt="...">
              {% else %}
              <img  class="img-fluid" src="{% static 'programs/makers.png' %}"  alt="...">
              {% endif %}
            </a>
          </div>
          <div class="col-lg-10">
            <h5 class="card-title">owner:
              <a href={% url 'main:profile' facilitator.owner.profile.id %}>
                {{ facilitator.owner.first_name}} {{ facilitator.owner.last_name}}
                  {% if facilitator.owner.is_staff %} <small>(התוכנית נרשמה ע"י בעלי האתר באופן זמני. אם התוכנית שלכם תגיד לנו, ונעביר לכם את הבעלות)</small>{% endif %}
              </a>
            </h5>
            <p class="card-text">{{ facilitator.short_description|safe}}
              <a href={% url 'programs:facilitator_detail' facilitator.id %}> Read more... </a>
            </p>
          </div>
        </div>
      </div>

    </div>

    {% endfor %}
    </div>

</div>



{% endblock %}
