{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container rtl hebrew text-right">

  <h1>מרחב יצירה Maker Space</h1>

<p>
  <i class="fas fa-exclamation-triangle"></i>
!האם תוכנית זו בבעלותך? דרוש בעלות עליה
<span>send mail to: avi.salmon@intel.com</span>
</p>


<div class="container">
  <div class="row">
    <!-- start col 1 -->
    <div class="col border border-primary">
      <h1>{{ facilitator.name }}</h1>

      <h4>

      {% if user.profile in facilitator.members.all %}
        <a href={% url 'programs:facilitator_remove_member' facilitator.id user.profile.id %}>
          <i class="fas fa-user-minus" data-toggle="tooltip" data-placement="top" title="הסר אותי מבית ספר זה"></i>
        </a>
      {% else %}
        <a href={% url 'programs:facilitator_add_member' facilitator.id user.profile.id %}>
        <i class="fas fa-user-plus" data-toggle="tooltip" data-placement="top" title="הוסף אותי לבית ספר זה"></i>
        </a>
      {% endif %}
      {% if facilitator.owner == user %}
      <a href={% url 'programs:facilitator_update' facilitator.id  %}>
      <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="ערוך פרטי בית הספר"></i>
      </a>
      <a href={% url 'programs:facilitator_delete' facilitator.id %}>
      <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="מחק בית ספר זה"></i>
      </a>
      {% endif %}
      <a href={% url 'programs:facilitator_list' %}>
      <i class="fas fa-list" data-toggle="tooltip" data-placement="top" title="חזרה לרשימת המרחבים"></i>
      </a>
      </h4>

      <p>owner:
        <a href={% url 'main:profile' facilitator.owner.profile.id %}>
          ({{ facilitator.owner}}): {{ facilitator.owner.first_name}} {{ facilitator.owner.last_name }}
        </a>
      </p>
      <p>{{ facilitator.description|safe }}</p>
      {% if facilitator.link %}
        <p><a href={{ facilitator.link }} target="_blank">more info... </a></p>
      {% endif %}
      {% if facilitator.image %}
        <img src="{{ facilitator.image.url }}" alt="" height=200>
      {% endif %}

      {% if facilitator.members.count %}
      <h2>Members:</h2>
      <ul>
        {% for member in facilitator.members.all %}
          <li>
            <a href={% url 'main:profile' member.id %} >
              ({{ member.user }}): {{member.user.first_name}} {{ member.user.last_name }}
            </a>
            {% if member == user.profile %}
            whoops, its me... <a href={% url 'programs:facilitator_remove_member' facilitator.id user.profile.id %}>get me out of here</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      {% else %}
        <h2>No members. </h2>
      {% endif %}

    </div>
    <!-- end of col 1 -->
    <!-- start col 2 -->
    <div class="col">
      <h2>תוכניות המשתתפות בבית ספר זה</h2>
      {% if user.is_authenticated and facilitator.owner == user %}
      <h2>
        <a href={% url 'programs:facilitator_add_program' facilitator.id %}>
          <i class="fas fa-plus-square" data-toggle="tooltip" data-placement="top" title="הוסף תוכנית המתקיימת בבית ספר זה"></i>
        </a>
      </h2>
      {% endif %}
      <ul>
        {% for program in facilitator.programs.all %}
        <a href={% url 'programs:program_detail' program.id %}>
          <li>
            {{ program }}
            {% if facilitator.owner == user %}
            <a href={% url 'programs:facilitator_delet_program_action' facilitator.id program.id %}>.... Remove</a></li>
            {% endif %}
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
    <!-- end col 2 -->
  </div>
</div>

-</div>
{% endblock %}
