{% extends "main/base.html" %}
{% load static %}

{% block content %}
  <h1>MATAZIM - מטצים </h1>
  <h3>This site will help us collect information about:</h3>
  <ul>
    <li>מטצים - מדריכים טכנולוגיים צעירים</li>
    <li>Technology Programs</li>
    <li>Facilitators (Schools, institutes etc.)</li>
    <li>Facilities (Maker spaces, innovation spaces...)</li>
    <li>Online training program</li>
  </ul>
  <h2>Get in - Sign up - be part of the game. </h2>
  <div class="jumbotron">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'programs/programs.jpg' %}" height=300 alt="">
    <div class="card-body">
      <h5 class="card-title">Programs</h5>
      <p class="card-text">Jump in and see all the different Education technical programs identified. Don’t see yours? Add it..</p>
      <a href={% url 'programs:program_list' %} class="btn btn-primary">Go Programs</a>
    </div>
    
  </div>

</div>

{% endblock %}
