{% extends "main/base.html" %}

{% block content %}
<div class="container">
  <h1 dir="rtl">Educational Programs</h1>
  <p>The focus is on programs that has technical orientation and can benifit using Matazim</p>
</div>
<hr>
{% if user.is_authenticated %}
<a href={% url 'programs:program_create' %}>
<button type="button" class="btn btn-success">Add a new program you own</button>
</a>
{% endif %}
<hr>
<ul>
  {% for program in program_list %}
    <li>
      <a href={% url 'programs:program_detail' program.id %}>
        <p>{{ program.name }} ; owner: {{ program.owner.first_name}} {{ program.owner.last_name}}
      </a>
      {% if program.owner == user %}
      ... this is your program... <a href={% url 'programs:program_delete' program.id %}>Remove it</a>
      {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>


{% endblock %}
