{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container text-right rtl hebrew">
  <div class="rtl">
    <h1><i class=" text-danger fas fa-chalkboard-teacher fa-x5"></i>   תוכניות חינוכיות</h1>
    <p>ההתמקדות היא בתוכניות בעלות אוריינטציה טכנולוגית והיכולות להפיק תועלת באמצעות מטצים</p>
  {% if user.is_authenticated %}
    <h2>
      <a href={% url 'programs:program_create' %}><i class="fas fa-glass-cheers" data-toggle="tooltip" data-placement="top" title="הוסף תוכנית לרשימה"></i></i></a>
      <a href=https://docs.google.com/forms/d/e/1FAIpQLSfdSveMs64-mPjxRccDCa0TKPQA3Kmcvn9LgtbiafIeYwsIjA/viewform?usp=sf_link"><i class="far fa-envelope" data-toggle="tooltip" data-placement="top" title="כתוב לנו הודעה לשינוי פרטים"></i></a>
    </h2>
  {% endif %}

    <div class="" id="programList">
      {% for program in program_list %}

      <div class="card my-4">
        <h5 class="card-header">
          <a href={% url 'programs:program_detail' program.id %}>
            {{ program.name }}
          </a>
          {% if program.owner == user %}
          <span class="font-weight-normal text-danger">
            ... זו תוכנית בבעלותך...
            <a class="pr-2" data-toggle="tooltip" data-placement="top" title="ערוך את פרטי התוכנית" href={% url 'programs:program_update' program.id %}><i class="fas fa-edit"></i></a>
            <a data-toggle="tooltip" data-placement="top" title="מחק תוכנית זו מהרשימה" href={% url 'programs:program_delete' program.id %}><i class="fas fa-trash-alt"></i></a>
          </span>
          {% endif %}
        </h5>

        <div class="card-body">
          <div class="row">
            <div class="col-2 d-none d-md-block">
              {% if program.image %}
              <a href={% url 'programs:program_detail' program.id %}>
                <img class="img-fluid" src="{{ program.image.url }}"  alt="...">
              </a>
              {% else %}
              <a href={% url 'programs:program_detail' program.id %}>
                <img  class="img-fluid" src="{% static 'programs/programs.jpg' %}"  alt="...">
              </a>
              {% endif %}
            </div>
            <div class="col-lg-10">
              <h5 class="card-title">איש קשר:
                  <a href={% url 'main:profile' program.owner.profile.id %}>
                  {{ program.owner.first_name}} {{ program.owner.last_name}}
                        {% if program.owner.is_staff %} <small>(התוכנית נרשמה ע"י בעלי האתר באופן זמני. אם התוכנית שלכם תגיד לנו, ונעביר לכם את הבעלות)</small>{% endif %}
                </a>

              </h5>
              <p class="card-text">{{ program.short_description|safe}}
                <a href={% url 'programs:program_detail' program.id %}> Read more...</a>
              </p>
            </div>
          </div>
        </div>

      </div>

      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}
