{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container text-right rtl hebrew">
  <div class="rtl">
    <h1><i class=" text-danger fas fa-chalkboard-teacher fa-x5"></i>מסגרות מאמצות</h1>
    <p>אלו התוכניות שאימצו את תוכנית המטצים ומגדלים מטצים לתפארת</p>
  {% if user.is_authenticated %}
    <h2>
      <a href={% url 'programs:program_create' %}><i class="fas fa-plus-square" data-toggle="tooltip" data-placement="top" title="הוסף תוכנית לרשימה"></i></i></a>
      <a href=https://docs.google.com/forms/d/e/1FAIpQLSfdSveMs64-mPjxRccDCa0TKPQA3Kmcvn9LgtbiafIeYwsIjA/viewform?usp=sf_link"><i class="far fa-envelope" data-toggle="tooltip" data-placement="top" title="כתוב לנו הודעה לשינוי פרטים"></i></a>
    </h2>
  {% endif %}



    <div class="" id="programList">
      <div class="row">
      {% for program in program_list %}
      <div class="col-4">
      <div class="card my-4">
        <h5 class="card-header">
          <a href={% url 'programs:program_detail' program.id %}>
            {{ program.name }}
          </a>
          {% if program.owner == user or user.is_staff %}
          <span class="font-weight-normal text-danger">
              <a class="pr-2" data-toggle="tooltip" data-placement="top" title="ערוך את פרטי התוכנית" href={% url 'programs:program_update' program.id %}><i class="fas fa-edit"></i></a>
              <a data-toggle="tooltip" data-placement="top" title="מחק תוכנית זו מהרשימה" href={% url 'programs:program_delete' program.id %}><i class="fas fa-trash-alt"></i></a>
              <a data-toggle="tooltip" data-placement="top" title="דוח פרחי מטצים" href={% url 'learn:program_report' program.id %}><i class="far fa-file-alt"></i></i></a>
          </span>
          {% endif %}
        </h5>

        <div class="card-body">
          <div class="row">
            <div class="col-5 d-none d-md-block">
              <a href={% url 'programs:program_detail' program.id %}>
                {% if program.image %}
                <img  class="img-fluid" src="{{ program.image.url }}"  alt="...">
                {% else %}
                <img  class="img-fluid" src="{% static 'programs/makers.png' %}"  alt="...">
                {% endif %}
              </a>
            </div>
            <div class="col-7">

              <p class="card-text">{{ program.short_description|safe|truncatewords:20 }}
                <a href={% url 'programs:program_detail' program.id %}> Read more... </a>
              </p>
            </div>
          </div>
        </div>

      </div>
      </div>
      {% endfor %}
      </div>
      </div>




  </div>

</div>

{% endblock %}
